@each $header, $size in (h1: 30px, h2: 25px, h3: 20px) {
  #{$header} {
    font-size: $size;
    margin: 0;
  }
}
*::selection {
  color: #fff;
  background-color: #7866d5;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: $fuente1;
  background-color: #fff;
}
a {
  text-decoration: none;
}
.bordeContainerImage {
  height: 2rem;
  width: 100%;
  background-color: $color-background;
}
