$color-primary: #7866d5;
$color-secondary: #2a2b56;
$color-font: #434a60;
$color-fontSecondary: #fff;
$color-background: #f4f7fa;

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 900px,
  xl: 1100px,
  xxl: 1400px,
);
