.menuBurguer {
  &__contentActive {
    padding-left: 2rem;
    display: flex;
    position: absolute;
    left: 0;
    top: 5rem;
    flex-direction: column;
    background-color: $color-background;
    width: 100%;
    min-height: 15rem;
    transition: 2s all;
  }
  &__contentDesactive {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -110%;
    width: 100%;
    top: 5rem;
    min-height: 15rem;
    transition: 2s all;
  }
  &__link--title {
    font-size: 1.2rem;
    opacity: 0.75;
    font-weight: 700;
    color: $color-font;
  }
  &__list {
    list-style: none;
  }
  &__item {
    padding: 0.8rem 0;
  }
}
.subItem {
  display: flex;
  background-color: $color-fontSecondary;
  margin-right: 1rem;
  padding: 0.5rem 0;
  &__link--title {
    margin: 0;
    color: $color-font;
    font-size: 1rem;
    font-weight: 700;
  }
  &__link--description {
    display: none;
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__item {
    padding: 0.8rem 0;
  }
  &__linkContent {
    margin-left: 1rem;
  }
  &__link--img {
    width: 1.7rem;
    padding: 0.3rem 0.2rem;
  }
  &__link--description {
    margin: 0;
  }
  &__list {
    list-style: none;
  }
}
.subMenuActive {
  background-color: $color-fontSecondary;
  margin-right: 1rem;
}
@include breakpoint(xs) {
  .subItem__link--description {
    display: flex;
    color: $color-font;
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.75;
  }
}
