.createNFT {
  display: flex;
  justify-content: center;
  background-color: $color-background;
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__imageContainer {
    height: 100%;
    width: 90vw;
    max-width: 540px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  &__image {
    width: 100%;
  }
  &__title {
    @include title;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
  }
  &__description {
    @include subtitle;
    width: 90%;
    margin: 0 auto;
  }
  &__btn {
    @include button;
    margin: 1rem auto;
  }
  &__btn:hover {
    opacity: 0.75;
    color: $color-fontSecondary;
  }
}

@include breakpoint(xs) {
  .createNFT {
    &__btn {
      font-size: 1.2rem;
      padding: 20px 26px;
    }
    &__title {
      font-size: 2.5rem;
    }
  }
}
@include breakpoint(md) {
  .createNFT {
    &__title {
      font-size: 3rem;
      line-height: 3.2rem;
    }
    &__description {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}
@include breakpoint(lg) {
  .createNFT__container {
    flex-direction: row;
    align-items: center;
  }
}
@include breakpoint(xl) {
  .createNFT {
    &_container {
      width: 90vw;
    }
    &_info {
      max-width: 35rem;
    }
    &_title,
    &_description {
      text-align: initial;
    }
    &_btn {
      margin-left: 2rem;
    }
  }
}
